.layout-enter-active,
.layout-leave-active {
  transition: all var(--dur-base) var(--ease-out);
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  /* transform: rotate3d(1, 1, 1, 15deg); */
}

.page-enter-active,
.page-leave-active {
  transition: all var(--dur-base) var(--ease-out);
}

.page-enter-from,
.page-leave-to {
  /* transform: translateX(500px); */
  opacity: 0;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity var(--dur-slower) var(--ease-out);
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.com-enter-active,
.com-leave-active {
  position: absolute;
  transition: opacity var(--dur-slower) var(--ease-out), transform var(--dur-slower) var(--ease-out);
}

.com-enter-from,
.com-leave-to {
  transform: scale(0);
}
